@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome to @User.Identity.Name</h1>
    }
    else
    {
        <h1 class="display-4">Please sign in to service</h1>
    }
</div>