@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@section Scripts
{
    <script src="~/js/signralr-stream-client.js"></script>
}
<h1>Stream</h1>
<input class="form-control" id="stream" type="text" value="ahmet;mehmet;hasan;emre;ayse;"/>
<button class="btn btn-primary my-2" id="btn-stream">Submit data (by chunk)</button>
<button class="btn btn-primary my-2" id="btn-stream-product">Submit product (by chunk)</button>
<button class="btn btn-primary my-2" id="btn-stream-from-hub-to-client">Stream from hub (by chunk)</button>
<div id="stream-box" class="alert alert-info">
    
</div>